{#
/**
 * @file
 * Theme override to display an audio tag.
*/
#}

{% if not sources %}
  <h4>No HTML5 audio uploaded 😔</h4>
{% else %}
  {% for source in sources %}
    <audio controls {{ autoplay }} preload="metadata">
      <source src="{{ source.src }}" type="{{ source.mimetype }}"/>
    </audio>
  {% endfor %}
{% endif %}
